p{
	color:yellow ;
}

*{
	font-family: "Arial",monospace;
	font-size: 20px;
}

h1{
	font-size: 2rem ;
}

#bootcamp-learning-list{
	text-transform: uppercase;
}

.Languages{
	background-color: lightgreen;
}

li[tools]{
	border-width: 2px;
	border-style: solid;
	border-color: lightblue;
}

img + ul{
	list-style-type: none;
}

section img{
	height: 100px;
	width: 100px;
	border-radius: 150px;
}

section ~ p{
	text-align: center;
	color: black;
}

ul > li{
	letter-spacing: 10px;
}
